CUDA_VISIBLE_DEVICES={{ swimtrack_ai_gpu_index }}

SWIMTRACK_AUTH_TOKEN={{ swimtrack_ai_auth_token }}
SWIMTRACK_BACKEND=tensorrt
SWIMTRACK_DEVICE=cuda:0

SWIMTRACK_MODEL_SOURCE_DIR={{ swimtrack_ai_model_dir }}
SWIMTRACK_MODEL_CACHE_DIR={{ swimtrack_ai_cache_dir }}
SWIMTRACK_ONNX_FILENAME={{ swimtrack_ai_onnx_filename }}
SWIMTRACK_ENGINE_FILENAME={{ swimtrack_ai_engine_filename }}
SWIMTRACK_BYTETRACK_ROOT={{ swimtrack_ai_repo_dir }}/vendor/ByteTrack

SWIMTRACK_MAX_BATCH_FRAMES={{ swimtrack_ai_max_batch_frames }}
SWIMTRACK_MAX_FRAME_BYTES=2000000
SWIMTRACK_MAX_BATCH_BYTES=12000000
SWIMTRACK_MAX_REQUEST_BYTES=16000000
SWIMTRACK_MAX_DECODED_PIXELS=4194304
SWIMTRACK_MAX_METADATA_BYTES=65536
SWIMTRACK_SESSION_TTL_SECONDS=900
SWIMTRACK_TRT_WORKSPACE_GB={{ swimtrack_ai_workspace_gb }}
SWIMTRACK_TRT_FP16=true
