CUDA_VISIBLE_DEVICES={{ swimtrack_ai_gpu_index }}

SWIMTRACK_AUTH_TOKEN={{ swimtrack_ai_auth_token }}
SWIMTRACK_BACKEND=tensorrt
SWIMTRACK_DEVICE=cuda:0

SWIMTRACK_MODEL_SOURCE_DIR={{ swimtrack_ai_model_dir }}
SWIMTRACK_MODEL_CACHE_DIR={{ swimtrack_ai_cache_dir }}
SWIMTRACK_ONNX_FILENAME={{ swimtrack_ai_onnx_filename }}
SWIMTRACK_ENGINE_FILENAME={{ swimtrack_ai_engine_filename }}
SWIMTRACK_BYTETRACK_ROOT={{ swimtrack_ai_repo_dir }}/vendor/ByteTrack

SWIMTRACK_DIAGNOSTIC_SCORE_FLOOR={{ swimtrack_ai_diagnostic_score_floor }}
SWIMTRACK_SCORE_THRESHOLD={{ swimtrack_ai_score_threshold }}
SWIMTRACK_MIN_BOX_AREA={{ swimtrack_ai_min_box_area }}
SWIMTRACK_TRACK_THRESHOLD={{ swimtrack_ai_track_threshold }}
SWIMTRACK_TRACK_BUFFER={{ swimtrack_ai_track_buffer }}
SWIMTRACK_MATCH_THRESHOLD={{ swimtrack_ai_match_threshold }}
SWIMTRACK_MOT20={{ swimtrack_ai_mot20 | bool | lower }}
SWIMTRACK_LANE_ROI_ENABLED={{ swimtrack_ai_lane_roi_enabled | bool | lower }}
SWIMTRACK_WEAK_REACTIVATION_ENABLED={{ swimtrack_ai_weak_reactivation_enabled | bool | lower }}
SWIMTRACK_WEAK_REACTIVATION_SCORE_THRESHOLD={{ swimtrack_ai_weak_reactivation_score_threshold }}
SWIMTRACK_WEAK_REACTIVATION_MIN_BOX_AREA={{ swimtrack_ai_weak_reactivation_min_box_area }}
SWIMTRACK_WEAK_REACTIVATION_MAX_GAP_SECONDS={{ swimtrack_ai_weak_reactivation_max_gap_seconds }}
SWIMTRACK_WEAK_REACTIVATION_MAX_CENTER_DISTANCE={{ swimtrack_ai_weak_reactivation_max_center_distance }}
SWIMTRACK_FAR_CROP_ENABLED={{ swimtrack_ai_far_crop_enabled | bool | lower }}
SWIMTRACK_FAR_CROP_LEFT={{ swimtrack_ai_far_crop_left }}
SWIMTRACK_FAR_CROP_TOP={{ swimtrack_ai_far_crop_top }}
SWIMTRACK_FAR_CROP_RIGHT={{ swimtrack_ai_far_crop_right }}
SWIMTRACK_FAR_CROP_BOTTOM={{ swimtrack_ai_far_crop_bottom }}
SWIMTRACK_FAR_CROP_NMS_THRESHOLD={{ swimtrack_ai_far_crop_nms_threshold }}

SWIMTRACK_MAX_BATCH_FRAMES={{ swimtrack_ai_max_batch_frames }}
SWIMTRACK_MAX_FRAME_BYTES=2000000
SWIMTRACK_MAX_BATCH_BYTES=12000000
SWIMTRACK_MAX_REQUEST_BYTES=16000000
SWIMTRACK_MAX_DECODED_PIXELS=4194304
SWIMTRACK_MAX_METADATA_BYTES=65536
SWIMTRACK_MAX_VIDEO_BYTES={{ swimtrack_ai_max_video_bytes }}
SWIMTRACK_VIDEO_DECODE_BATCH_FRAMES={{ swimtrack_ai_video_decode_batch_frames }}
SWIMTRACK_FFMPEG_PATH={{ swimtrack_ai_ffmpeg_path }}
SWIMTRACK_FFPROBE_PATH={{ swimtrack_ai_ffprobe_path }}
SWIMTRACK_VIDEO_PROBE_TIMEOUT_SECONDS={{ swimtrack_ai_video_probe_timeout_seconds }}
SWIMTRACK_SESSION_TTL_SECONDS=900
SWIMTRACK_DECODE_WORKERS={{ swimtrack_ai_decode_workers }}
SWIMTRACK_PREPROCESS_WORKERS={{ swimtrack_ai_preprocess_workers }}
SWIMTRACK_TRT_WORKSPACE_GB={{ swimtrack_ai_workspace_gb }}
SWIMTRACK_TRT_FP16=true
SWIMTRACK_TRT_OPT_BATCH_SIZE={{ swimtrack_ai_trt_opt_batch_size }}
SWIMTRACK_TRT_MAX_BATCH_SIZE={{ swimtrack_ai_trt_max_batch_size }}
