FLASK_ENV=production
FLASK_RUN_PORT={{ swimtrack_front_port }}
FLASK_SECRET_KEY={{ swimtrack_front_flask_secret_key }}
URL_PREFIX={{ swimtrack_front_url_prefix }}
GUNICORN_BIND={{ swimtrack_front_bind_host }}:{{ swimtrack_front_port }}
VISION_BASE_URL={{ swimtrack_front_vision_base_url }}
VISION_LAP_CALIBRATION_ID={{ swimtrack_front_vision_lap_calibration_id }}
VISION_TRACKING_DIAGNOSTICS={{ swimtrack_front_vision_tracking_diagnostics }}
{% if swimtrack_front_vision_auth_token | length > 0 %}
VISION_AUTH_TOKEN={{ swimtrack_front_vision_auth_token }}
{% endif %}
